

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <li><a class="navbar-brand" routerLink="/discover" routerLinkActive="active-link"><img [src]="'/assets/logo.png'"
                alt="No se encontro imagen"> </a></li>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Buscar...
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/peliculas/peliculaspopulares" routerLinkActive="active-link">Peliculas Populares </a>
                    <a class="dropdown-item" routerLink="/peliculas/peliculaid" routerLinkActive="active-link">Numero de
                        pelicula </a>
                    <a class="dropdown-item" routerLink="/peliculas/genero" routerLinkActive="active-link">
                        Peliculas por genero </a>
                    <a class="dropdown-item" routerLink="/peliculas/titulo" routerLinkActive="active-link">
                        Peliculas por titulo </a>

                </div>

            <li class="nav-item active">
                <div *ngIf="usuario2 === null" [ngClass]="'cajaLogin'">

                    <a class="nav-link" routerLink="/usuarios/login" routerLinkActive="active-link">Login </a>
                    <a class="nav-link" routerLink="/usuarios/registro" routerLinkActive="active-link">Registro </a>


                </div>
            </li>
            <li class="nav-item active">
                <div *ngIf="usuario2" [ngClass]="'cajaUsuario'">
                    <a class="nav-link" routerLink="/usuarios/verperfil" routerLinkActive="active-link">Ver Perfiles
                    </a>
                    <a class="nav-link" routerLink="/alquilarpeliculas" routerLinkActive="active-link">Alquilar
                        Peliculas </a>
                    <a class="nav-link" (click)=prueba() href="/">Desconectar </a>
                </div>
            </li>


        </ul>