<header>
    <nav class="caja">
            <li><a routerLink="/discover" routerLinkActive="active-link"><img src="" alt="No se encontro imagen"> </a></li>
            <li><a href="#">Buscar...</a>
            <ul>
                <li><a routerLink="/peliculas/filtroid" routerLinkActive="active-link">Buscar peliculas por id </a></li>
                <li><a routerLink="/peliculas/filtrogenero" routerLinkActive="active-link">Buscar peliculas por Genero </a></li>
            </ul>
            </li>
        <li><a routerLink="/usuarios/login" routerLinkActive="active-link">Login </a></li>
        <li><a routerLink="/usuarios/registro" routerLinkActive="active-link">Registro </a></li>
        <li><a routerLink="/usuarios/verperfil" routerLinkActive="active-link">Ver Perfiles </a></li>

    </nav>

</header>



<!-- <li>
        <a href="#">Buscar</a>
        <ul >
            <li><a routerLink="/peliculas/filtroid" routerLinkActive="active-link">Buscar peliculas por id </a></li>
            <li><a routerLink="/peliculas/filtrogenero" routerLinkActive="active-link">Buscar peliculas por Genero </a></li>
        </ul>
    </li> -->