/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Exo', sans-serif;
}
body{
    margin:0;
    color:white;
    background-color: rgb(136, 136, 136);
}   
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
